{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Main</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock meta %}

{% block content %}
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>

<nav class="topnav" id="myTopnav">
    <a href="#" class="active">ARTi</a>
    <a href="{% url 'arti:galeri' %}">Galeri</a>
    <a href="leaderboard/">Leaderboard</a>
    {% if user.is_authenticated %}
    <a href="{% url 'arti:post_karya' %}">Post Karya</a>
    <a href="profileuser/">Profile User</a>
    {% if user.is_superuser %}
    <a href="admin/">Admin</a>
    {% endif %}
    <a class="btn btn-danger" href="{% url 'arti:logout' %}" style="float: right;">Logout</a>
    {% else %}
    <a class="btn btn-info" href="{% url 'arti:login' %}"style="float: right;">Login</a>
    <a class="btn btn-warning" href="{% url 'arti:register' %}"style="float: right; margin-right: 20px">Register</a>
    {% endif %}
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</nav>

<div class="heading text-center text-white">
    <h1>Hello, {{ user }}!</h1>
    <h3>selamat datang di ARTi</h3>
</div>

<section>
    <div class="container reveal">
        <h2 class="text-white">Apa itu ARTi?</h2>
        <div class="text-container">
            <div class="text-box">
                <p>
                    Website dengan nama ARTi ini merupakan wadah untuk setiap orang yang memiliki keinginan untuk
                    membantu
                    masyarakat
                    luas yang mengalami kesulitan akibat suatu penyakit, musibah, maupun ekonomi. Selain memberikan
                    layanan
                    bantuan,
                    website kami juga memberikan sarana untuk setiap orang yang ingin berkarya dengan meng-upload karya
                    terbaik mereka
                    yang nantinya akan dipromosikan dan dapat diperjualbelikan, lalu dana yang terkumpul digunakan untuk
                    berdonasi bagi
                    mereka yang membutuhkan.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container reveal">
        <h2 class="text-white">Mengapa harus ARTi?</h2>
        <div class="text-container">
            <div class="text-box">
                <p>
                    Dengan membeli karya di situs ini, anda telah membantu masyarakat yang mengalami kesulitan
                    sebagai bentuk dari
                    empati dan memberikan rasa suka cita sekaligus mewujudkan bentuk kasih sayang kepada sesama. Bantuan
                    diberikan
                    dalam
                    bentuk uang yang terkumpul dari layanan
                    donasi. Selain itu, memberi ruang untuk setiap orang berekspresi melalui karya-karyanya. Manfaat
                    berdonasi juga
                    sangat banyak, tidak hanya bagi orang yang menerima tetapi juga bagi orang yang melakukannya.
                </p>
            </div>
        </div>
    </div>
</section>

{% if not user.is_authenticated %}
<section>
    <div class="container reveal">
        <h3 class="text-white" style="text-align: center;">Anda dapat mengakses galeri untuk sekadar melihat-lihat</h3>
        <h3 class="text-white" style="text-align: center;">Silakan register/login untuk mengakses fitur lainnya</h3>
        <div class="text-container">
            <div class="text-box">
                <p>
                    <ul>
                        <li>Post Karya: user meng-upload karya-karya mereka yang nantinya dapat diperjualbelikan untuk donasi.</li>
                        <li>Pembelian karya: membeli karya-karya yang dipilih dan nantinya akan ada pemberitahuan yang menandakan bahwa karya yang dipilih sudah soldout.</li>                          
                        <li>Profile user: menampilkan biodata akun, jumlah total donasi, karya user, dan sebagainya.</li>
                        <li>Update: Menampilkan progress atau history dari kegiatan donasi yang sudah terkumpul beserta dengan foto-fotonya.</li>
                    </ul>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock content %}
