{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Login</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock meta %}

{% block content %}

<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div id="par-container" class="col-lg-6 mb-5 mb-lg-0">
                <h1 class="my-5 display-5 fw-bold ls-tight">
                    <div id="ART">Buat ART-mu </div>
                    <div id="lebih">menjadi lebih ber<span id="ARTi">ARTi</span></div>
                </h1>
                <p class="mb-4">
                    ARTi memberikan ruang bagi setiap orang yang ingin berkarya untuk meng-upload karya terbaik
                    mereka yang nantinya akan dipromosikan dan dapat diperjualbelikan, lalu dana yang terkumpul
                    digunakan untuk berdonasi bagi mereka yang membutuhkan.
                </p>
            </div>

            <div id class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div class="card bg-glass">
                    <div class="card-body p-5 text-center">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <h3 class="mb-5">Login</h3>

                            <div class="form-outline mb-4">
                                <input type="text" name="username" class="form-control form-control-lg">
                                <label class="form-label">Username</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" name="password" class="form-control form-control-lg">
                                <label class="form-label" for="typePasswordX-2">Password</label>
                            </div>

                            {% if messages %}
                            <ul>
                                {% for message in messages %}
                                <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}

                            <button class="btn btn-outline-success btn-lg btn-block" type="submit">Login</button>

                            <hr class="my-4">
                        </form>

                        <div>Belum mempunyai akun? <a href="{% url 'arti:register' %}">Buat akun</a></div>
                        <div>atau <a href="{% url 'arti:index' %}">Login as Guest</a></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}