<div class="carousel-item active" style="border-radius: 20px;">
    <div class="card" style="height: 250px; background-color: rgb(231, 241, 240); border-radius: 20px">
        <div class="card-body">
          <h5 class="card-title">See Your Comments Here</h5>
        </div>
    </div>
</div>

{% for comment in comments %}
<div class="carousel-item" style="border-radius: 20px;">
    <div class="card" style="height: 250px; background-color: rgb(231, 241, 240); border-radius: 20px">
        <div class="card-body">
          <h5 class="card-title">{{ comment.user.get_username }}</h5>
          <p class="card-text">{{ comment.text }}</p>
          <a href="#" class="btn btn-outline-dark btn-sm">Button</a>
        </div>
    </div>
</div>
{% endfor %}