{% extends 'base.html' %}

{% block meta %}

{% load static %}
<title> Leaderboard </title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="{% static 'css/leaderboard.css' %}" rel="stylesheet">


<script>
    var url_lboard_pengguna = "{% url 'leaderboard:leaderboard_pengguna' %}";
    var url_lboard_karya = "{% url 'leaderboard:leaderboard_karya' %}";
    var csrf_token = "{{ csrf_token }}";
    var url_create_comment = "{% url 'leaderboard:create_comment' %}";
    var url_change_comments = "{% url 'leaderboard:change_comments'%}";
    var user_is_staff = "{{user.is_staff}}";
    var url_delete_comment = "{% url 'leaderboard:delete_comment' %}";

</script>

<script src="{% static 'js/leaderboard.js' %}"></script>
{% endblock meta %}

{% block content %}
<!-- navbar   -->
<!-- <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">Arti</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
            </a>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </li>
        </ul>
    </div>
    </div>
</nav> -->

<!-- header -->
<div class="row text-center justify-content-center" id="header">
    <h1> Leaderboard </h1>
</div>

<!-- isi -->
<div class="container-fluid pt-5 pb-5" style="background-color:rgb(245, 205, 96)">
    <div class="row isi text-center"><h2> Pilih Tipe </h2></div>
    <div class="row isi row-cols-auto mb-5 justify-content-center">
        <div class="col">
            <button id="button_pengguna" class="btn btn-outline-dark btn-sm" style="margin:0.5%; border-radius:17px"> Pengguna </button>
        </div>
        <div class="col">
            <button id="button_karya" class="btn btn-outline-dark btn-sm" style="margin:0.5%; border-radius:17px"> Karya </button>
        </div>
    </div>
    <div class="row isi row-cols-auto justify-content-center" id="leaderboard_pengguna" style="min-height:300px">
        <span class="border border-3" style="border-radius:20%; border-color: black!important;">
            <div class="col text-center pt-5" style="min-width:300px">

            </div>
        </span>
        
    </div>
<!-- ini bikin masalah -->
    <!-- <div class="row row-cols-1 row-cols-md-2 g-4" id="leaderboard_karya">
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div> -->
</div>
<script>
$('#leaderboard_karya').hide();
</script>

<!-- comments -->
<div class="container-fluid pt-5 pb-5" id="comments">
    <div class="row text-center mb-2"> <h3> Komentar </h3></div>
    <div class="row justify-content-center mb-5" style="padding-top: 2px;">
        <div class="col-9 col-sm-7 col-md-4">
            <div id="commentsCarousel" class="carousel slide" data-bs-ride="carousel" style="background-color:rgba(249, 249, 249, 0); height: 250px">
                <div class="carousel-inner justify-content-center text-center" id="comments_carousel">
                    <div class="carousel-item active" style="border-radius: 20px;">
                        <div class="card" style="height: 250px; background-color: rgb(231, 241, 240); border-radius: 20px">
                            <div class="card-body">
                              <h5 class="card-title">Lihat komentarmu di sini</h5>
                            </div>
                        </div>
                    </div>
                    
                    {% for comment in comments %}
                    <div class="carousel-item" style="border-radius: 20px;">
                        <div class="card" style="height: 250px; background-color: rgb(231, 241, 240); border-radius: 20px">
                            <div class="card-body">
                              <h5 class="card-title">{{ comment.user.get_username }}</h5>
                              <p class="card-text">{{ comment.text }}</p>
                              {% if user.is_staff %}
                              <button class="btn btn-outline-dark btn-sm" onclick="deleteComment('{{ comment.pk }}')">Delete</a>
                              {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#commentsCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#commentsCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-5 pb-5" style="background-color:rgb(73, 133, 236)" >
    <div class="row text-center">
        <h3> Kirim Komentar </h3>
    </div>    

    <form>
        <div class="row justify-content-center text-center">
            <div class="col-auto mt-1">
                {{ form }}
            </div>
            <div class="row mt-2 justify-content-center">
                <div class="col-auto">
                        <button type= "button" class="btn btn-outline-dark btn-sm"
                            id="form_button_success" 
                            style="border-radius: 17px;"> Submit </button>
                </div>
            </div>
            
            {% if has_authenticated %}
            {% else %}
                <script>
                    deactivateElem()
                </script>
            {% endif %}
        </div>
        
    </form>
</div>


{% endblock content %}